<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2024 Hautian Team
        </div>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <script src="/Template/Landing-Page/vendor/jquery/jquery.min.js"></script>
  <script src="/Template/Landing-Page/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/Template/Landing-Page/assets/js/owl-carousel.js"></script>
  <script src="/Template/Landing-Page/assets/js/animation.js"></script>
  <script src="/Template/Landing-Page/assets/js/imagesloaded.js"></script>
  <script src="/Template/Landing-Page/assets/js/custom.js"></script>