<%- include('partials/lp-head') %>
<div id="js-preloader" class="js-preloader">
  <div class="preloader-inner">
    <span class="dot"></span>
    <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>


<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">

          <ul class="nav">
            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
            <li class="scroll-to-section"><a href="#about">About</a></li>
            <li class="scroll-to-section"><a href="#contact">Contact</a></li> 
            <li class="scroll-to-section"><div class="border-first-button"><a href="/login">Login</a></div></li> 
          </ul>        
          <a class='menu-trigger'>
              <span>Menu</span>
          </a>
      
        </nav>
      </div>
    </div>
  </div>
</header>


<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
  <div class="container">
    <%- include('partials/messages') %>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
              <div class="row">
                <div class="col-lg-12">
                  <h6>OFFICIAL</h6>
                  <h2>Selamat Datang Di Hautian Presence System</h2>
                  <p>Aplikasi Hautian Presence System dirancang untuk memudahkan mahasiswa dan dosen mengakses berbagai layanan kampus dan informasi akademik secara cepat dan mudah. Di halaman Home, pengguna disambut dengan tampilan yang simpel, modern, dan mudah dipahami.</p>
                </div>
                <div class="col-lg-12">
                  <div class="border-first-button scroll-to-section">
                    <a href="#contact">Hautian Team</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
              <img src="/Template/Landing-Page/assets/images/logo-v3.png" class="mb-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="about" class="about section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6">
            <div class="about-left-image  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
              <img src="/Template/Landing-Page/assets/images/logoPage2.png" alt="" style="border-radius: 50px;">
            </div>
          </div>
          <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="about-right-content">
              <div class="section-heading">
                <h6>About Us</h6>
                <h4>Hautian Presence System <em></em></h4>
                <div class="line-dec"></div>
              </div>
              <p>Hautian Presence System adalah sistem absensi berbasis web yang dirancang khusus untuk memudahkan proses absensi mahasiswa dan dosen didalam sebuah Universitas. Dengan aplikasi ini, kegiatan absensi dapat dilakukan secara cepat, akurat, dan efisien. <a rel="nofollow" href=" " target="_blank"> </a>  <a href=" " target="_blank"> </a> </p>
              <div class="row">
                <div class="col-lg-4 col-sm-4">
                  <div class="skill-item first-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                    <div class="progress" data-percentage="100">
                      <span class="progress-left">
                        <span class="progress-bar"></span>
                      </span>
                      <span class="progress-right">
                        <span class="progress-bar"></span>
                      </span>
                      <div class="progress-value">
                        <div>
                          100%<br>
                          <span>Ejs</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                  <div class="skill-item second-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                    <div class="progress" data-percentage="90">
                      <span class="progress-left">
                        <span class="progress-bar"></span>
                      </span>
                      <span class="progress-right">
                        <span class="progress-bar"></span>
                      </span>
                      <div class="progress-value">
                        <div>
                          90%<br>
                          <span>Bootstrap</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                  <div class="skill-item third-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                    <div class="progress" data-percentage="100">
                      <span class="progress-left">
                        <span class="progress-bar"></span>
                      </span>
                      <span class="progress-right">
                        <span class="progress-bar"></span>
                      </span>
                      <div class="progress-value">
                        <div>
                          100%<br>
                          <span>Express Js</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="contact" class="contact-us section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
          <h6>Hubungi</h6>
          <h4>Hubungi <em>Kami</em></h4>
          <div class="line-dec"></div>
        </div>
      </div>
      <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
        <form id="contact" action="" method="post">
          <div class="row">
            <div class="col-lg-12">
              <div class="contact-dec">
                <img src="/Template/Landing-Page/assets/images/contact-dec-v3.png" alt="">
              </div>
            </div>
            <div class="col-lg-5">
              <div id="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2494.534597484905!2d113.85364791834388!3d-7.029661171971666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd9e6a19d6c4acf%3A0x22f493ec3fc25d92!2sXV93%2BX89%2C%20Jl.%20Tambak%20Sari%2C%20Gunggung%20Barat%2C%20Gunggung%2C%20Kec.%20Batuan%2C%20Kabupaten%20Sumenep%2C%20Jawa%20Timur%2069451!5e0!3m2!1sid!2sid!4v1728802383331!5m2!1sid!2sid"  width="100%" height="636px" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="fill-form">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="info-post">
                      <div class="icon">
                        <img src="/Template/Landing-Page/assets/images/phone-icon.png" alt="">
                        <a href="#">088213135658</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="info-post">
                      <div class="icon">
                        <img src="/Template/Landing-Page/assets/images/email-icon.png" alt="">
                        <a href="#">HautianT@gmail.com</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="info-post">
                      <div class="icon">
                        <img src="/Template/Landing-Page/assets/images/location-icon.png" alt="">
                        <a href="#">Hautian Team</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <fieldset>
                      <input type="name" name="name" id="name" placeholder="Name" autocomplete="on" required>
                    </fieldset>
                    <fieldset>
                      <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
                    </fieldset>
                    <fieldset>
                      <input type="subject" name="subject" id="subject" placeholder="Subject" autocomplete="on">
                    </fieldset>
                  </div>
                  <div class="col-lg-6">
                    <fieldset>
                      <textarea name="message" type="text" class="form-control" id="message" placeholder="Message" required=""></textarea>  
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="main-button ">Kirim</button>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('partials/lp-foot') %>
