<%- include('../partials/head') %>
<div class="main-panel">
    <div class="content-wrapper d-flex align-items-center auth px-0">
      <div class="row w-100 mx-0">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Form Dosen</h4>
              <form class="forms-sample" action="/prodi/store" method="POST">
                <div class="form-group">
                  <label for="exampleInputUsername1">Prodi</label>
                  <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Prodi Jurusan" name="nama_prodi">
                </div>
                <div class="form-group">
                    <label for="id_user">ID JURUSAN</label>
                    <select class="form-select" id="exampleSelectIdUser" name="id_jurusan">
                      <% for( let i = 0; i < data.length; i++ ) { %>  
                        <option value="<%= data[i].id_jurusan %>"><%= data[i].nama_jurusan %></option>
                      <% } %>
                    </select>
                  </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <a href="/admin/data_prodi" class="btn btn-secondary me-5">Kembali</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include('../partials/foot') %>