<%- include('../partials/head') %>
<div class="main-panel">
    <div class="content-wrapper d-flex align-items-center auth px-0">
      <div class="row w-100 mx-0">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Form Matakuliah</h4>
              <form class="forms-sample" action="/matakuliah/update/<%= id_mk %>" method="POST">
                <div class="form-group">
                  <label for="exampleInputUsername1">Matakuliah</label>
                  <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Nama matakuliah" name="nama_matakuliah" value="<%= nama_matakuliah %>">
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <a href="/admin/data_matakuliah" class="btn btn-secondary me-5">Kembali</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

<%- include('../partials/foot') %>